@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2887ff;
  --primary-color-dark: #2476da;
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #f3f4f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: roboto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-items li a {
  color: var(--text-dark);
  transition: all 0.3s ease-in-out;
}
.nav-items li a:hover {
  color: var(--primary-color);
}

.nav-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 26px;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: black;
  color: white;
}

.hero {
  position: relative;
}

.hero-container {
  background-image: url("assets/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  padding: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.hero-text h5 {
  font-size: 1rem;
  color: var(--extra-light);
  letter-spacing: 1px;
}

.hero-text h1 {
  font-size: 3rem;
  color: var(--text-dark);
  line-height: 1.2;
}

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hero-btns button:nth-child(1) {
  display: inline-block;
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 26px;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hero-btns button:nth-child(1):hover {
  background-color: var(--primary-color-dark);
}

.hero-btns button:nth-child(2) {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0.6rem;
  background-color: white;
  border: none;
  border-radius: 26px;
  transition: all 0.3s ease-in-out;
}
.hero-btns button:nth-child(2):hover {
  background-color: var(--primary-color);
  color: white;
}

.hero-img-container {
  max-width: 800px;

  overflow: hidden;
}

.hero-img {
  height: auto;
  width: 100%;
}

/* destionation*/

.destination {
  padding: 5rem 1rem;
}

.destination-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.destination-text {
  color: var(--text-light);
  margin-bottom: 3rem;
}

.destination-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.destination-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.destination-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.destination-card:hover {
  transform: translateY(-5%);
}

.destination-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.destination-details {
  display: flex;
  justify-content: space-between;
}

.destination-city {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.destination-city p {
  font-weight: bold;
  font-size: 1.3rem;
}

.destination-city span {
  color: var(--text-light);
}

.destination-star {
  display: flex;
  gap: 5px;
  background-color: var(--primary-color);
  color: white;
  align-self: flex-start;
  padding: 0.4rem;
  border-radius: 20px;
}

/*Journey*/

.journey {
  padding: 5rem 1rem;
}

.journey-title h1,
.journey-title p {
  text-align: center;
  margin-bottom: 2rem;
}
.journey-title h1 {
  font-size: 3rem;
}

.journey-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.journey-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  gap: 2rem;
  background-color: var(--text-light);
  padding: 1rem;
  overflow: hidden;
  height: 200px;
  background-color: var(--extra-light);
}

.reservation-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 2rem;
  padding: 1rem;
}

.reservation-text > p {
  color: var(--text-dark);
}

.reservation-click {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px 0;
  padding: 2rem;
  transition: 0.3s;
  visibility: hidden;
}

.journey-card:hover .reservation-click {
  top: 0;
  visibility: visible;
}
