@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2887ff;
  --primary-color-dark: #2476da;
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #f3f4f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: roboto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  position: static;
  padding: 2rem 1rem;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-links {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: auto;
  opacity: 1;
  visibility: visible;
  transform: none;
  box-shadow: none;
  background-color: transparent;
}

.nav-links li {
  border-bottom: none;
}
.nav-links li a {
  padding: 0;
  margin: 0 1.2rem;
  color: var(--text-dark);
}

.nav-links li a:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.nav-links li:last-child {
  display: none;
}

.logo {
  font-size: 1.5rem;
  color: var(--white);
}

.nav-btn {
  padding: 0.5rem;
  background-color: var(--text-dark);
  color: white;
  border: none;
}

.hamburger-btn {
  display: none;
}

/*Hero*/

.hero {
  position: relative;
}

.hero-container {
  background-image: url("assets/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  padding: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.hero-text h5 {
  font-size: 1rem;
  color: var(--extra-light);
  letter-spacing: 1px;
}

.hero-text h1 {
  font-size: 3rem;
  color: var(--text-dark);
  line-height: 1.2;
}

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hero-btns button:nth-child(1) {
  display: inline-block;
  padding: 1rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 26px;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hero-btns button:nth-child(1):hover {
  background-color: var(--primary-color-dark);
}

.hero-btns button:nth-child(2) {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0.6rem;
  background-color: white;
  border: none;
  border-radius: 26px;
  transition: all 0.3s ease-in-out;
}
.hero-btns button:nth-child(2):hover {
  background-color: var(--primary-color);
  color: white;
}

.hero-img-container {
  max-width: 800px;

  overflow: hidden;
}

.hero-img {
  height: auto;
  width: 100%;
}

/* destionation*/

.destination {
  padding: 5rem 1rem;
}

.destination-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.destination-text {
  color: var(--text-light);
  margin-bottom: 3rem;
}

.destination-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.destination-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.destination-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.destination-card:hover {
  transform: translateY(-5%);
}

.destination-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.destination-details {
  display: flex;
  justify-content: space-between;
}

.destination-city {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.destination-city p {
  font-weight: bold;
  font-size: 1.3rem;
}

.destination-city span {
  color: var(--text-light);
}

.destination-star {
  display: flex;
  gap: 5px;
  background-color: var(--primary-color);
  color: white;
  align-self: flex-start;
  padding: 0.4rem;
  border-radius: 20px;
}

/*Journey*/

.journey {
  padding: 5rem 1rem;
}

.journey-title h1,
.journey-title p {
  text-align: center;
  margin-bottom: 2rem;
}
.journey-title h1 {
  font-size: 3rem;
}

.journey-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.journey-card {
  position: relative;
  background: linear-gradient(135deg, #fff, var(--extra-light));
  color: black;
  padding: 2rem;
  border-radius: 26px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  min-height: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.journey-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(37, 99, 235, 0.1);
}

.journey-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.journey-text p {
  font-weight: bold;
  font-size: 1.1rem;
}

.journey-text i {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.journey-hover {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.journey-card:hover .journey-hover {
  top: 0;
}

.journey-hover i {
  flex: 0 0 auto;
  padding: 0.5rem;
  display: inline-flex;
  width: fit-content;
  border: 1px solid white;
  border-radius: 25px;
}

.journey-hover h1 {
  font-size: 1.3rem;
}

/*Wanderlust*/

.wanderlust {
  padding: 5rem 1rem;
}

.wanderlust-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.wanderlust-img {
  max-width: 350px;
  height: auto;
  flex: 1;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.wanderlust-text {
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.wanderlust-text h1 {
  font-size: 3rem;
}

.wanderlust-text p {
  color: var(--text-light);
}

.wanderlust-text-link {
  position: relative;
  height: 15%;
}

.wanderlust-text-link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  border-radius: 10px;
}

.wanderlust-text-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wanderlust-text-link span a {
  color: var(--text-dark);
  font-size: 1.2rem;
  font-weight: bold;
}

/*Ratings*/

.ratings {
  padding: 5rem 1rem;
}

.ratings-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.ratings-card {
  background-color: var(--extra-light);
  padding: 2rem;
  color: var(--primary-color);
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.ratings-card:hover {
  transform: translateY(-5px);
  background-color: var(--primary-color);
  color: white;
}

.ratings-card:hover p {
  color: white;
}

.ratings-card h1 {
  font-size: 5rem;
}

.ratings-card p {
  color: var(--text-light);
}

/*discover*/

.discover {
  padding: 5rem 1rem;
}

.discover h1 {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.discover p {
  color: var(--text-light);
  text-align: center;
  margin-bottom: 3rem;
}

.discover-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.discover-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.discover-card-icon {
  background-color: rgba(40, 135, 255, 0.1);
  padding: 15px;
  opacity: 1;
  border-radius: 50%;
}

.discover-card-icon i {
  color: var(--primary-color-dark);
  font-size: 1.3rem;
}

.discover-card h1 {
  font-size: 1.5rem;
}

.discover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
}

/*comments*/

.comments {
  padding: 5rem 1rem;
}

.comments-header {
  text-align: center;
  margin-bottom: 3rem;
}

.comments-header > :first-child {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.comments-header p {
  margin-bottom: 1rem;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.comments-container {
  display: flex;
  gap: 2rem;
  transition: transform 0.3s ease;
}

.comment-card {
  display: flex;
  flex: 0 0 350px;
  flex-direction: column;
  gap: 0rem;
  overflow: hidden;
  border: 5px solid var(--extra-light);
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.comment-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.comment-card p {
  padding: 1.2rem;
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.6;
}

.ratings {
  display: flex;
  gap: 5px;
  font-size: 12px;
  padding: 1.25rem 1.25rem 0.5rem;
  margin: 0;
  list-style: none;
}

.ratings li {
  margin: 0;
  padding: 0;
}

.ratings li i {
  color: var(--primary-color);
  font-size: 14px;
}

.comment-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--extra-light);
  padding: 1rem;
}

.comment-profile img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-profile > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.comment-profile > div span:first-child {
  font-weight: 800;
  color: var(--text-dark);
}

.comment-profile > div span:last-child {
  font-size: 0.8rem;
  color: var(--text-light);
  font-style: italic;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.next {
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}

.prev {
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}

/*Footer*/
footer {
  padding: 5rem 1rem;
  background-color: var(--extra-light);
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
}

.footer-section {
  padding: 0.3rem;
}

.footer-heading {
  position: relative;
  margin-bottom: 1.8rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  background: linear-gradient(135deg, var(--primary-color), #6d28d9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footer-heading::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 2rem;
  height: 2px;
  background-color: var(--primary-color-dark);
}

.footer-section.footer-section-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-heading.about {
  margin-bottom: 0.3rem !important;
  font-size: 1.7rem !important;
}

.footer-description {
  color: var(--text-light);
  max-width: 300px;
  margin-block: 1rem;
  letter-spacing: 1px;
}

.footer-social-list {
  display: flex;
  gap: 5px;
  margin-top: 1.2rem;
}

.social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0.3rem;
  background: var(--primary-color-dark);
  border-radius: 30%;
  position: relative;
  transition: all 0.3s ease;
}

.social-media-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.social-media-item i {
  font-size: 1.3rem;
  color: var(--extra-light);
  z-index: 1;
  transition: all 0.3s ease;
}

.social-media-item:hover {
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 5px 15px var(--primary-color);
}

.social-media-item:hover::before {
  opacity: 1;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links-list li {
  color: var(--text-light);
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-list-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.contact-list-icon i {
  font-size: 1rem;
  background: rgba(58, 110, 165, 0.1);
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.contact-list-icon:hover i {
  transform: scale(1.2);
  background-color: var(--primary-color);
  color: white;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe-form input {
  padding: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  outline: none;
}

.subscribe-form button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  border: none;
  font-size: 1.1rem;
}

.subscribe-form button:hover {
  background-color: var(--primary-color-dark);
}

/*Media Queries*/

@media (max-width: 599.99px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .nav-header {
    position: relative;
    padding: 1rem;
  }

  .nav-links {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    gap: 20px;
    transform: translateY(-100%);
    visibility: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .nav-links.active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  .nav-links li {
    color: var(--text-dark);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    border-radius: 10px;
  }

  .nav-links li:hover {
    background-color: var(--primary-color);
    width: 100%;
  }

  .nav-links li:hover a {
    color: white;
  }

  .nav-btn {
    display: none;
  }

  .hamburger-btn {
    display: block;
    font-size: 1.2rem;
  }

  .hero {
    margin-top: 5rem;
  }

  .journey-container {
    grid-template-columns: 1fr;
  }
  .wanderlust-container {
    flex-direction: column;
  }

  .wanderlust-container img {
    max-width: 100%;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 767.99px) {
  .destination-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .journey-container {
    grid-template-columns: 1fr 1fr;
  }
  .wanderlust-container {
    flex-direction: column;
  }
  .wanderlust-container img {
    max-width: 100%;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  .wanderlust-container {
    flex-direction: column;
  }
  .wanderlust-container img {
    max-width: 100%;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .wanderlust-container {
    flex-direction: column;
  }
  .wanderlust-img {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
}
