@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2887ff;
  --primary-color-dark: #2476da;
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #f3f4f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: roboto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-items li a {
  color: var(--text-dark);
  transition: all 0.3s ease-in-out;
}
.nav-items li a:hover {
  color: var(--primary-color);
}

.nav-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 26px;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: black;
  color: white;
}

.hero {
  background-image: url("assets/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 96%;
  height: 80%;
  position: relative;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-text {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.hero-text h5 {
  font-size: 1rem;
  color: var(--text-dark);
  letter-spacing: 1px;
}

.hero-text h1 {
  font-size: 4rem;
  color: var(--text-dark);
  line-height: 1.2;
}

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hero-btns button:nth-child(1) {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 26px;
  font-size: 1.2rem;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hero-btns button:nth-child(1):hover {
  background-color: var(--primary-color-dark);
}

.hero-btns button:nth-child(2) {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0.6rem;
  background-color: white;
  border: none;
  border-radius: 26px;
  transition: all 0.3s ease-in-out;
}
.hero-btns button:nth-child(2):hover {
  background-color: var(--primary-color);
  color: white;
}

.hero-img-container {
  display: flex;
  height: auto;
  overflow: hidden;
}

.hero-img {
  left: 0;
  width: 100%;
}
